{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div>
  <div>
    <h2>{{if not .IsHome}}{{ humanize .Title }}{{end}}</h2>
    {{if .IsHome}}
    {{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) (.Site.Params.paginator_pages) )}}
    {{else}}
    {{.Scratch.Set "Paginator" .Paginator}}
    {{end}}
    {{$paginator:=(.Scratch.Get "Paginator")}}
    {{ range $paginator.Pages }}
    <a href="{{.RelPermalink}}">
      {{ .Render "summary" }}
    </a>
    {{ end }}
    {{ partial "paginator.html" . }}
  </div>
</div>
{{ end }}