<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
      {{ if and ( .Params.image ) ( .Params.featured_image ) }}
        {{ $path := .Params.image }}
        {{ $i := resources.Get $path -}}
        {{ $alt := "" }}
        {{ if .Params.alt }}
          {{ $alt = .Params.alt }}
        {{ end }}

        {{ $i_sm := $i.Resize "360x q80" }}
        {{ $i_webp_sm := $i.Resize "360x webp" }}
        {{ $i_md := $i.Resize "720x q80" }}
        {{ $i_webp_md := $i.Resize "720x webp" }}
        {{ $i_lg := $i.Resize "1440x q80" }}
        {{ $i_webp_lg := $i.Resize "1440x webp" }}

        <picture class="flex w-full h-1/6 max-h-[60vh]">
          <source sizes="(min-width: 720px) 720px, 100vw" srcset="{{ $i_webp_sm.RelPermalink }} 360w, {{ $i_webp_md.RelPermalink }} 720w, {{ $i_webp_lg.RelPermalink }} 1440w" type="image/webp">
          <source srcset="{{ $i_sm.RelPermalink }} 360w, {{ $i_md.RelPermalink }} 720w, {{ $i_lg.RelPermalink }} 1440w" type="image/jpeg">
          <img class="object-cover w-full rounded" src="{{ $i_sm.RelPermalink }}" alt="{{ $alt }}" role="presentation" width="{{ $i_sm.Width }}" height="{{ $i_sm.Height }}">
        </picture>
      {{end}}
      {{if .Title}}<h1>{{ .Title }}</h1>{{end}}
      <p class="meta">
        {{ i18n "last_updated" }} {{ partial "date-fmt.html" .}} 
          {{ partial "github.html" . }}
      </p>
      <ul class="tags">
          {{ range (.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}">
          {{if (eq $.Site.Language.Lang "en")}}
            {{ .LinkTitle | humanize }}
          {{else}}
            {{ .LinkTitle }}
          {{end}}
            </a>
           </li>
          {{ end }}
      </ul>
      {{partial "toc.html" .}}
      {{partial "textprocessing.html" . }}
    </article>
    {{partial "footer.html" .}}
</div>
</body>
</html>
